{% extends 'bootstrap/base.html' %}

{% block title %}
  F1 Daily Scrum
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">F1 Daily Scrum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/users">Users</a>
        <a class="nav-link" href="/schedule">Schedule</a>
      </div>
    </div>
  </nav>
{% endblock %}
